{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eleves list</h1>
  <div class="flex-row">
        {% for eleve in eleves %}

          <div class="classe">
            <h3>Nom</h3>
            <p><a href="{{ path('eleve_show', { 'id': eleve.id }) }}">{{ eleve.nom }}</a></p>
            <h3>Id</h3>
            <p>{{ classe.id }}</p>
            <ul style="list-style-type:none">
                <li>
                    <a class="btn" href="{{ path('eleve_show', { 'id': eleve.id }) }}">show</a>
                </li>
                <li>
                    <a class="btn" href="{{ path('eleve_edit', { 'id': eleve.id }) }}">edit</a>
                </li>
            </ul>
          </div>

        {% endfor %}
</div>
    <ul style="list-style-type:none">
        <li>
            <a class="btn" href="{{ path('eleve_new') }}">Create a new eleve</a>
        </li>
    </ul>
{% endblock %}
