{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classes list</h1>

        {% for classe in classes %}
          <div class="flex-column">
            <div class="classe">
              <h3>Nom</h3>
              <p><a href="{{ path('classe_show', { 'id': classe.id }) }}">{{ classe.nom }}</a></p>
              <h3>Id</h3>
              <p>{{ classe.id }}</p>
              <ul style="list-style-type:none">
                  <li>
                      <a class="btn" href="{{ path('classe_show', { 'id': classe.id }) }}">show</a>
                  </li>
                  <li>
                      <a class="btn" href="{{ path('classe_edit', { 'id': classe.id }) }}">edit</a>
                  </li>
              </ul>
            </div>
          </div>
        {% endfor %}

    <ul style="list-style-type:none">
        <li>
            <a class="btn" href="{{ path('classe_new') }}">Create a new classe</a>
        </li>
    </ul>
{% endblock %}
