{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ classe.nom }}</h1>
    <p>Id : {{ classe.id }}</p>

    <h2>Intervenant</h2>
    <p>{{ intervenant.nom }}</p>

    <h2>Eleves</h2>
    {# for eleve in eleves %}
        <p>{{ eleve.id }}</p>
    {% endfor #}

    <h2>Places</h2>
    <div class="flex-row">
      {% for place in places %}
      <div class="place">
        <p>{{ place.id }}</p>
      </div>
      {% endfor %}
    </div>

    <ul style="list-style-type:none">
        <li>
            <a href="{{ path('classe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('classe_edit', { 'id': classe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
