{% extends 'base.html.twig' %}

{% block body %}
    <h1>Intervenants list</h1>
    <div class="flex-row">
        {% for intervenant in intervenants %}

          <div class="classe">
            <h3>Nom</h3>
            <p><a href="{{ path('intervenant_show', { 'id': intervenant.id }) }}">{{ intervenant.nom }}</a></p>
            <h3>Prénom</h3>
            <p>{{ intervenant.prenom }}</p>
            <h3>Matière</h3>
            <p>{{ intervenant.matiere }}</p>
            <h3>Id</h3>
            <p>{{ intervenant.id }}</p>
            <ul style="list-style-type:none">
                <li>
                    <a class="btn" href="{{ path('intervenant_show', { 'id': intervenant.id }) }}">show</a>
                </li>
                <li>
                    <a class="btn" href="{{ path('intervenant_edit', { 'id': intervenant.id }) }}">edit</a>
                </li>
            </ul>
          </div>

        {% endfor %}
        </div>
        </tbody>
    </table>

    <ul style="list-style-type:none">
        <li>
            <a class="btn" href="{{ path('intervenant_new') }}">Create a new intervenant</a>
        </li>
    </ul>
{% endblock %}
